@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .footer, .sub1 {
    background-color: #1F2937;
}

.header {
    padding: 0.5rem 10rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 9rem;
    height: auto;
}
.sub1 {
    min-height: 25rem;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    gap: 5rem;
}

.sub1Text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.sub1Text h1 {
    font-weight: 900px;
    font-size: 48px;
    color:#F9FAF8;
    margin: 0;
}

.sub1Text .b2 {
    width: fit-content;
    margin-top: 1.5rem;
    border-width: 0;
}

.s1-subtext {
    font-size: 18px;
    color: #E5E7EB;
    width: auto;
}
.sub1image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub1image img {
    flex: 1;
    width: 23rem;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 3rem;
}
p {
    flex: 1;
    margin: 1rem 0 0 0;
    text-wrap: wrap;
    width:15rem;
    font-size: 20px;
    font-weight: 300;
}
.b2 {
    flex: 1;
    border: 2px solid #F9FAF8;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub1back {
    display: flex;
    justify-content: center;
    background: #1F2937;
    margin: 0px;
    color: #F9FAF8;
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub1 {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}

.sub1Text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.paragraph {
    display: flex;
    font-size: 48px;
}
.smallpara {
    font-size: 18px;
    color: #E5E7EB;
}
.darkcardbutton {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    border-radius: 7px;
    border-color: #3882F6;

}
.sub1image {
    width: 300px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }


.sub2 {
    background: #F9FAF8;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
    align-items: center;
}
.container {
    background: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
    
}
.sub2img {
    width: 100px;
    height: 100px;
    border: 2px solid#3882F6;
    border-radius: 25px;
}
.sub3{
    display: flex;
    background: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 75px 170px;
    flex-direction: column;
    flex-wrap: wrap;
}
.quote {
    display: flex;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    flex: 1;
    max-width: 700px;
}
.quoteauthor {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-weight: bold;
}
.sub4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9FAF8;
}
.footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    align-items: center;
    padding: 30px;
}
.blucontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882F6;
    border-radius: 5px;
    padding: 20px;
    min-width: 700px;
}
.blucontainertext {
    color: #E5E7EB;
}

.bannerheader {
    font-size: 20px;
}
.bannertext {
    font-size: 15px;
}
.signup {
    border-color: #E5E7EB;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
}